.variation-details {
    font-size: 90%;
    margin-left: 2em;
}

.listItem table td, .shopItemTable td {
    padding-left: 4px;
    padding-right: 4px;
}

.listItem table th, .shopItemTable th {
    padding-left: 4px;
    padding-right: 4px;
}

.addToCartLink {
    background:url("++resource++ftw-shop-resources/addcart_p.gif") no-repeat scroll left top transparent;
    float:right;
    padding-left:25px;
    text-decoration:none;
}
